#quiz, #answers {
    /* border: 1px solid red; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

#answers {
    /* border: 1px solid red; */
    width: 30%;
}

.answersBtn {
    padding: 1em;
    margin: 1em;
}