@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Merriweather:ital,wght@1,700&family=Poppins:wght@300;500;700&display=swap');

* {
    font-family: sans-serif, Arial, Helvetica;
    padding: 10px;
}

h1 {
    font-size: 4em;
    font-family: 'Heebo', sans-serif;
}

h2 {
    font-size: 2em;
    font-family: 'Heebo', sans-serif;
}

p {
    font-size: 1.25em;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcdc00;
    flex-direction: column;
}

#main-container {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}

#answers {
    width: 75%;
}

#quiz, #answers {
    display: flex;
    flex-direction: column;
}

#start-page, #initials, #highscore-section {
    flex-direction: column;
    
}

#startBtn {
    width: 10em;
}

#time-yellow, #time-red, #initials-instruction {
    background-color: black;
    padding: 0.5em;
    border-radius: 5px;
}

#time-yellow, #initials-instruction {
    color: #fcdc00;
}

#time-red {
    color: red;
}

#initial-input {
    margin: 1em;
}

#li-left {
    text-align: left;
}

.sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    height: 40vh;
}

.equalHW {
	flex: 1 1 auto;
}

.answersBtn {
    padding: 1em;
    margin: 1em;
}

.ans-right, .ans-wrong {
    font-family: 'Heebo', sans-serif;
    font-size: 1.5em;
    background-color: black;
    padding: .5em;
}

.ans-right {
    color: green;
}

.ans-wrong {
    color: red;
}


/***** MEDIA QUERIES *****/

/* When screen is 3000px or less */
@media screen and (max-width: 3000px) {
    #answers {
        width:50%;
    }
}

/* When screen is 1200px or less */
@media screen and (max-width: 1200px) {
    #answers {
        width:60%;
    }
}

/* When screen is 1000px or less */
@media screen and (max-width: 1000px) {
    #answers {
        width:60%;
    }
}

/* When screen is 850px or less */
@media screen and (max-width: 850px) {
    #answers {
        width:70%;
    }
}

/* When screen is 700px or less */
@media screen and (max-width: 700px) {
    h1 {
        font-size: 2.75em;
    }    
    h2 {
        font-size: 1.5em;
    }    
    p {
        font-size: 1.2em;
    }
    .btn {
        font-size: .7em;
    }
    .ans-right, .ans-wrong {
        font-size: 1em;
        padding: .5em;
    }
    #answers {
        width:80%;
    }
}

/* When screen is 575px or less */
@media screen and (max-width: 575px) {
    #answers {
        width:90%;
    }
}

/* When screen is 450px or less */
@media screen and (max-width: 450px) {
    h1 {
        font-size: 2.3em;
    }    
    h2 {
        font-size: 1.4em;
    }
    #answers {
        width:100%;
    }    
}